.hh{
  display: block;
  background-color: black;
  height: 100px;
  border-radius: .55rem;
  margin-left: 0px;
  color: #ff0000;

}

.st{
  display: block;
  background-color: grey;
  height: 100px;
  width: 350px;
  border-radius: .55rem;
  margin: 125px;
  color: white;
}

.navbar-expand-md{
  line-height: 2.5;
}

.form-control{
  width: 400px;
}
.navbar-brand{
  width 90px;
  font-size: xx-large;
  margin-top
}

.hot_sub{
  padding-top: 10px;
}

.container-fluid{
    width: 650px;
    margin-left: -15px;
    margin-right: 140px;
}

.btn-outline-success{
  width:100px;
}

.Intro{
  height: 25px;
  margin: 25px;
}
.d-flex{
  width: -webkit-fill-available;
}

.form-control{
  width: inherit;
}

.question_post{
  border: 2px;
  border-color: black;
}

div.users{
  margin-top: 15px;
}

.like_button{
  margin-top: 10px;
}

main > .container {
  padding: 75px 0px 0;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 75px;
  max-width: 1130px;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
}

.question_head{
  display: inline-flex;
  border-bottom: 3px grey solid;
  border-bottom-style:solid;
}

.question img{
    width: 120px;
    border-radius: .45rem;

    margin-top: 12px;
}


.question_text{
  margin-inline: auto;
}

.profile img{
  border-radius: .45rem;
}
.profile_info{
  color: white;
}
.question{
  margin-bottom: 20px;
  border: 5px grey solid;
  border-radius: .55rem;
  margin-top: 10px;
  padding: 12px;
  width: 800px;
  height: 215px;
}

.btn-group, .btn-group-vertical {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	margin-top: 10px;
}

.global{
  margin-top: 30px;
}

.global_right{
  padding-left: 0px;
  padding-top: 20px;
}

.bld{
  color: red;
  font-weight: bold;
}

.plus{
  color: blue;
}

.form-control2{
    width: 75px;
}

.form-control3{
    width: 45px;
}