<div class="row">
      <div class="col-8 global">
        <div class="hot_question new_question" style="margin-bottom: 30px;">
          <div class="row">
            <div class="col-4">
                <span><h1>New Question</h1></span>
            </div>
          </div>
        </div>


{% if form.errors %}
   <div class="alert alert-danger">{{ form.non_field_errors.as_text|slice:"2:" }}</div>
{% endif %}
{% for e in form.none_field_errors %}
   <div class="alert alert-danger">{{ e }}</div>
{% endfor %}

<form class="form" method="post" action="{% url 'ask' %}">
  {% csrf_token %}
    <fieldset>
      {% for field in form %}
        <div class="mb-8 row">
          {% if field.errors %}has-error{% endif %}
          <label class="control-label">{{ field.label }}</label>
          <div class=".form-control">{{ field }}</div>
        </div>
      {% endfor %}
    </fieldset>
   <div class="form-actions"><br/>
     <button type="submit" class="btn btn-primary">
       ASK
     </button>
   </div>

 </form>

      </div>
</div>
