{% load static %}
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="row" style="display: contents;">
      <div class="col-9">
        <div class="container-fluid" style="display:flex;">
           <a class="navbar-brand" href="#">mystack</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Ask</button>
            </form>

          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="container">
          <div class="row" style="padding-right: inherit;position: fixed; right: 0px; top: 2px;">
            <div class="col-sm-4 profile" style="position: relative; right: 25px;">
              <img src="{% static "img/profile.jpg"%}">
            </div>

            <div class="col-sm-8">
              <div class="" style="color: white;"><h4>Luke Skywalker</h4></div>
              <div class="logout" style="display: flex;">
                <div class="col-sm-5 profile">
                  <a href="#" style="color:white;"> <h5>log out</h5> </a>
                </div>
                <div class="col-sm-3">
                  <a href="#" style="color:white;"> <h5>settings</h5> </a>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </nav>
</header>