{% load static %}
<div class="row " xmlns="http://www.w3.org/1999/html">
            <div class="col-11 question_head">
                <div class="col-3" style="position: relative; right: 18px; margin-right: 15px; margin-bottom: 15px;">
                  <img src="/{{ question.author.profile.avatar }}" style="border-radius:.45rem;">
                  <div class="btn-group" role="group" aria-label="Basic example">
                   <button type="button" class="btn btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-outline-secondary">Dislike</button>
                    <input type="text" class="form-control2" placeholder="{{ question.rating }}" aria-label="15" aria-describedby="btnGroupAddon">
                  </div>
                </div>

              <div class="col-8 question_text">
                <h4>{{ question.title }}</h4>
                <p>
                    {{ question.text }}
                </p>
                <p>Tags:
                    {% for tag in question.tags.all %}
                        <a href="{% url "tags" tag="{{ tag.name }}" %}">{{ tag.name }}</a>
                    {% empty %}
                        <p>No tags</p>
                    {% endfor %}
                </p>
              </div>
            </div>
</div>