{% load static %}
<div class="row ">
            <div class="col-11 question_head">
                <div class="col-3" style="position: relative; right: 18px; margin-right: 15px; margin-bottom: 15px;">
                  <img src="{% static "img/dartvader.jpg"%}" style="border-radius:.45rem;">
                  <div class="btn-group" role="group" aria-label="Basic example">
                   <button type="button" class="btn btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-outline-secondary">Dislike</button>
                    <input type="text" class="form-control2" placeholder="15" aria-label="15" aria-describedby="btnGroupAddon">
                  </div>
                </div>

              <div class="col-8 question_text">
                <h4>What is Dart Vader's favorite language?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                  eu fugiat nulla pariatur.in voluptate velit esse cillum dolore
                  eu fugiat nulla pariatur </p>
                <p>Tags: <a href="#">Star Wars</a> <a href="#">Python</a> </p>
              </div>
            </div>
        </div>