{% load static %}
<div class="row ">
            <div class="col-11 question_head">
                <div class="col-3" style="position: relative; right: 18px; margin-right: 15px; margin-bottom: 15px;">
                  <img src="{% static "img/dartvader.jpg"%}" style="border-radius:.45rem;">
                  <div class="btn-group" role="group" aria-label="Basic example">
                   <button type="button" class="btn btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-outline-secondary">Dislike</button>
                    <input type="text" class="form-control2" placeholder="15" aria-label="15" aria-describedby="btnGroupAddon">
                  </div>
                </div>

              <div class="col-8 question_text">
                <h4>{{ question.title }}</h4>
                <p>
                    {{ question.text }}
                </p>
                <p>Tags:
                    <a href="{% url "tags" tag="{{ question.tags }}" %}">{{ question.tags }}</a>
                    <a href="{% url "tags" tag="{{ question.tags }}" %}">{{ question.tags }}</a>
                </p>
              </div>
            </div>
        </div>