{% load static %}
    <div class="row">
      <div class="col-8 global">
        <div class="hot_question new_question" style="margin-bottom: 30px;">
          <div class="row">
            <div class="col-6">
                <span><h1>Settings: Gen. Grievous</h1></span>
            </div>
          </div>
        </div>

      <div class="row question_post">
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label"> <h5>Login</h5> </label>
          <div class="col-sm-8">
            <input class="form-control" type="text" placeholder="Title" aria-label="default input example">
          </div>
        </div>
      </div>

      <div class="row question_post">
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label"> <h5>Email</h5> </label>
          <div class="col-sm-8">
            <input class="form-control" type="text" placeholder="Email" aria-label="default input example">
          </div>
        </div>
      </div>

      <div class="row question_post">
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label"> <h5>NickName</h5> </label>
          <div class="col-sm-8">
            <input class="form-control" type="text" placeholder="NickName" aria-label="default input example">
          </div>
        </div>
      </div>


      <div class="row question_post">
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label"> <h5>Upload Avatar</h5> </label>
          <div class="col-sm-10">
            <img src="{% static "img/settings.jpg"%}" style="border: 2px grey solid; border-radius: .35rem; ">
            <div class="mb-3" style="margin-top: 15px;">
              <input class="form-control" type="file" id="formFileMultiple" >
            </div>
            <div class="row question_post" style="margin-top: 30px;">
              <form class="d-flex" >
                <button class="btn btn-outline-success" type="submit">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>