{% load static %}
<div class="row question">
          <div class="col-3">
            <img src="/static/img/luke.jpg">
            <form action="" class="like_button">
              <p><input type="number" name="t" value="35" min="34" max="36" step="1"></p>
            </form>
          </div>

        <div class="col-8">
          <h4><a href="/question/{{ question.id }}/"> {{ question.author }}: {{ question.title }} </a></h4>
          <p>{{ question.text }}</p>
          <p>Tags:
              <a href="{% url "tags" tag="{{ question.tags }}" %}">{{ question.tags }}</a>
              <a href="{% url "tags" tag="{{ question.tags }}" %}">{{ question.tags }}</a>
          </p>
          <a href="{% url "question_answers" pk=1 %}">answers</a>
        </div>
</div>