{% load static %}
<div class="row question">
          <div class="col-3">
            <img src="/static/img/luke.jpg">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-secondary">Like</button>
                <button type="button" class="btn btn-outline-secondary" style="width: 70px;">Dislike</button>
                <input type="text" class="form-control2" placeholder="{{ question.rating }}" aria-label="15" aria-describedby="btnGroupAddon" style="width: 25px;">
            </div>
          </div>

        <div class="col-8">
          <h4><a href="/question/{{ question.id }}/"> {{ question.author }}: {{ question.title }} </a></h4>
          <p>{{ question.text }}</p>
          <p>Tags:
              <a href="{% url "tags" tag="{{ question.tags }}" %}">{{ question.tags }}</a>
              <a href="{% url "tags" tag="{{ question.tags }}" %}">{{ question.tags }}</a>
          </p>
          <a href="{% url "question_answers" pk=1 %}">answers</a>
        </div>
</div>