{% extends "include/base.html" %}
{% load static %}
<!doctype html>
<html lang="en" class="h-100">


{% block left_side %}

        <div class="hot_question new_question">
          <div class="row">
            <div class="col-4">
                <span><h1>New questions</h1></span>
            </div>
            <div class="col-4 hot_sub">
                <span><h3><a href="#">Hot questions</a></h3></span>
            </div>
          </div>
        </div>
<!--        {% for question in questions %}-->
<!--          {% include "include/question.html" %}-->
<!--        {% endfor %}-->

        {% include "include/question.html" %}
        <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">...</a></li>
      <li class="page-item"><a class="page-link" href="#">53</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

{% endblock left_side %}




    {% block right_side %}
      <div class="row">
        <div class="col-12 pop_tags">
            <h1>Popular Tags</h1>
        </div>
      </div>
      <div class="row tags1">
        <div class="col-2"> <h3>perl</h3> </div>
        <div class="col-2"><h3>asm</h3> </div>
        <div class="col-2"> <h3 style="color:red;">python</h3></div>
      </div>
      <div class="row tags2">
        <div class="col-2"> <h4>C++</h4> </div>
        <div class="col-2" style="color:blue;"><h4>Linus</h4> </div>
        <div class="col-2"> <h4 style="color:red;">Guido</h4></div>
        <div class="col-2"> <h4 style="color:blue;">Stroustrup</h4></div>
      </div>

      <div class="row tags3">
        <div class="col-2" style="color:blue;margin-right:12px;"><h4>Google</h4> </div>
        <div class="col-2"> <h4 style="color:red;">Arm</h4></div>
        <div class="col-4"> <h4>Languages</h4> </div>
        <div class="col-2"> <h4 style="color:blue;">Facebook</h4></div>
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col-12 pop_users">
            <h1>Popular Users</h1>
        </div>
      </div>
      <div class="users"> <a href="#"><h4>Freeman</h4></a></div>
      <div class="users"> <a href="#"><h4>Dr.House</h4></a></div>
      <div class="users"> <a href="#"><h4>Kubik_911</h4></a></div>
      <div class="users"> <a href="#"><h4>Stan</h4></a></div>
      <div class="users"> <a href="#"><h4>Don_hack</h4></a></div>
      <div class="users"> <a href="#"><h4>Homer_simpson</h4></a></div>
      <div class="users"> <a href="#"><h4>Destructor_66</h4></a></div>
      <div class="users"> <a href="#"><h4>std_vector</h4></a></div>
    {% endblock right_side %}

  </div>




