
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <title>mystack/registration</title>
    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/my.css" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="row" style="display: contents;">
      <div class="col-10">
        <div class="container-fluid" style="display:flex;">
           <a class="navbar-brand" href="#">mystack</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Ask</button>
            </form>

          </div>
        </div>
      </div>

      <div class="col-2">

        <div class="container">
          <div class="row" style="padding-right: inherit;">
            <div class="col-sm-6 profile">
              <a href="#" style="color:white;"> <h4>log in</h4> </a>
            </div>
            <div class="col-sm-6">
              <a href="#" style="color:white;"> <h4>register</h4> </a>
            </div>

          </div>
        </div>
      </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">


    <div class="row">
      <div class="col-8 global">
        <div class="hot_question new_question" style="margin-bottom: 30px;">
          <div class="row">
            <div class="col-4">
                <span><h1>Registration</h1></span>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
                <span style="color: red;"><h3>Sorry, this email address allready registred!</h3></span>
            </div>
          </div>
        </div>


  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label"> <h5>Login</h5> </label>
      <div class="col-sm-8">
        <input class="form-control" type="text" placeholder="Login" aria-label="default input example">
      </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label"> <h5>Email</h5>  </label>
      <div class="col-sm-8">
        <input class="form-control" type="text" placeholder="Email" aria-label="default input example">
      </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label"> <h5>NickName</h5> </label>
      <div class="col-sm-8">
        <input class="form-control" type="text" placeholder="NickName" aria-label="default input example">
      </div>
  </div>

  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label"> <h5>Password</h5> </label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="inputPassword">
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label"> <h5>Repeat Password</h5> </label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="inputPassword">
    </div>
  </div>

  <div class="row question_post">
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label"> <h5>Upload Avatar</h5> </label>
      <div class="col-sm-10">
        <div class="mb-3" style="margin-top: 15px;">
          <input class="form-control" type="file" id="formFileMultiple">
        </div>
        <div class="row question_post" style="margin-top: 30px;">
          <form class="d-flex" >
            <button class="btn btn-outline-success" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  </div>

    <div class="col-4 global_right">
      <div class="row">
        <div class="col-12 pop_tags">
            <h1>Popular Tags</h1>
        </div>
      </div>
      <div class="row tags1">
        <div class="col-2"> <h3>perl</h3> </div>
        <div class="col-2"><h3>asm</h3> </div>
        <div class="col-2"> <h3 style="color:red;">python</h3></div>
      </div>
      <div class="row tags2">
        <div class="col-2"> <h4>C++</h4> </div>
        <div class="col-2" style="color:blue;"><h4>Linus</h4> </div>
        <div class="col-2"> <h4 style="color:red;">Guido</h4></div>
        <div class="col-2"> <h4 style="color:blue;">Stroustrup</h4></div>
      </div>

      <div class="row tags3">
        <div class="col-2" style="color:blue;margin-right:12px;"><h4>Google</h4> </div>
        <div class="col-2"> <h4 style="color:red;">Arm</h4></div>
        <div class="col-4"> <h4>Languages</h4> </div>
        <div class="col-2"> <h4 style="color:blue;">Facebook</h4></div>
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col-12 pop_users">
            <h1>Popular Users</h1>
        </div>
      </div>
      <div class="users"> <a href="#"><h4>Freeman</h4></a></div>
      <div class="users"> <a href="#"><h4>Dr.House</h4></a></div>
      <div class="users"> <a href="#"><h4>Kubik_911</h4></a></div>
      <div class="users"> <a href="#"><h4>Stan</h4></a></div>
      <div class="users"> <a href="#"><h4>Don_hack</h4></a></div>
      <div class="users"> <a href="#"><h4>Homer_simpson</h4></a></div>
      <div class="users"> <a href="#"><h4>Destructor_66</h4></a></div>
      <div class="users"> <a href="#"><h4>std_vector</h4></a></div>
    </div>

  </div>

</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Supported by </span>
  </div>
</footer>


    <script src="js/bootstrap.bundle.min.js"></script>


  </body>
</html>
