{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <title>mystack/new_question</title>
    <!-- Bootstrap core CSS -->
<link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static "css/my.css"%}" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">

  {% include "include/navbar.html" %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">

    <div class="row">
      <div class="col-8 global">
        <div class="hot_question new_question">
          <div class="row">
            <div class="col-4">
                <span><h1>Tag: protobuf</h1></span>
            </div>
          </div>
        </div>
        <div class="row question">
          <div class="col-3">
            <img src="img/dartvader.jpg">
            <form action="" class="like_button">
              <p><input type="number" name="t" value="35" min="34" max="36" step="1"></p>
            </form>
          </div>

        <div class="col-8">
          <a href="#"><h4>What is Dart Vader's favorite language?</h4></a>
          <p>So let's start with... </p>
          <p>Tags: <a href="#">Star Wars</a> <a href="#">Python</a> </p>
          <a href="#">answers(15)</a>
        </div>
      </div>

      <div class="row question">
        <div class="col-3">
          <img src="img/luke.jpg">
          <form action="" class="like_button">
            <p><input type="number" name="t" value="35" min="34" max="36" step="1"></p>
          </form>
        </div>
      <div class="col-8">
        <a href="#"><h4>What is Luke Skywalkers's favorite language?</h4></a>
        <p>So let's start with...</p>
        <p>Tags: <a href="#">Star Wars</a> <a href="#">C++</a> </p>
        <a href="#">answers(3)</a>
      </div>
    </div>

    <div class="row question">
      <div class="col-3">
        <img src="img/sidious.jpg">
        <form action="" class="like_button">
          <p><input type="number" name="t" value="35" min="34" max="36" step="1"></p>
        </form>
      </div>
    <div class="col-8">
      <a href="#"><h4>What is Evils's favorite language?</h4></a>
      <p>So let's start with...</p>
      <p>Tags: <a href="#">Star Wars</a> <a href="#">C++</a> </p>
      <a href="#">answers(3)</a>
    </div>
  </div>

  <div class="row question">
    <div class="col-3">
      <img src="img/obi_wan.jpg">
      <form action="" class="like_button">
        <p><input type="number" name="t" value="35" min="34" max="36" step="1"></p>
      </form>
    </div>
  <div class="col-8">
    <a href="#"><h4>What is Obi Wan's favorite language?</h4></a>
    <p>So let's start with...</p>
    <p>Tags: <a href="#">Star Wars</a> <a href="#">C++</a> </p>
    <a href="#">answers(3)</a>
  </div>
</div>



    </div>

    <div class="col-4 global_right">
      <div class="row">
        <div class="col-12 pop_tags">
            <h1>Popular Tags</h1>
        </div>
      </div>
      <div class="row tags1">
        <div class="col-2"> <h3>perl</h3> </div>
        <div class="col-2"><h3>asm</h3> </div>
        <div class="col-2"> <h3 style="color:red;">python</h3></div>
      </div>
      <div class="row tags2">
        <div class="col-2"> <h4>C++</h4> </div>
        <div class="col-2" style="color:blue;"><h4>Linus</h4> </div>
        <div class="col-2"> <h4 style="color:red;">Guido</h4></div>
        <div class="col-2"> <h4 style="color:blue;">Stroustrup</h4></div>
      </div>

      <div class="row tags3">
        <div class="col-2" style="color:blue;margin-right:12px;"><h4>Google</h4> </div>
        <div class="col-2"> <h4 style="color:red;">Arm</h4></div>
        <div class="col-4"> <h4>Languages</h4> </div>
        <div class="col-2"> <h4 style="color:blue;">Facebook</h4></div>
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col-12 pop_users">
            <h1>Popular Users</h1>
        </div>
      </div>
      <div class="users"> <a href="#"><h4>Freeman</h4></a></div>
      <div class="users"> <a href="#"><h4>Dr.House</h4></a></div>
      <div class="users"> <a href="#"><h4>Kubik_911</h4></a></div>
      <div class="users"> <a href="#"><h4>Stan</h4></a></div>
      <div class="users"> <a href="#"><h4>Don_hack</h4></a></div>
      <div class="users"> <a href="#"><h4>Homer_simpson</h4></a></div>
      <div class="users"> <a href="#"><h4>Destructor_66</h4></a></div>
      <div class="users"> <a href="#"><h4>std_vector</h4></a></div>
    </div>

  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">...</a></li>
      <li class="page-item"><a class="page-link" href="#">53</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Supported by </span>
  </div>
</footer>


    <script src="js/bootstrap.bundle.min.js"></script>


  </body>
</html>
