<div class="row">
        <div class="col-12 pop_tags">
            <h1>Popular Tags</h1>
        </div>
      </div>
      <div class="row tags1">
        <div class="col-2"> <h3>perl</h3> </div>
        <div class="col-2"><h3>asm</h3> </div>
        <div class="col-2"> <h3 style="color:red;">python</h3></div>
      </div>
      <div class="row tags2">
        <div class="col-2"> <h4>C++</h4> </div>
        <div class="col-2" style="color:blue;"><h4>Linus</h4> </div>
        <div class="col-2"> <h4 style="color:red;">Guido</h4></div>
        <div class="col-2"> <h4 style="color:blue;">Stroustrup</h4></div>
      </div>