<div class="row tags3">
        <div class="col-2" style="color:blue;margin-right:12px;"><h4>Google</h4> </div>
        <div class="col-2"> <h4 style="color:red;">Arm</h4></div>
        <div class="col-4"> <h4>Languages</h4> </div>
        <div class="col-2"> <h4 style="color:blue;">Facebook</h4></div>
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col-12 pop_users">
            <h1>Popular Users</h1>
        </div>
      </div>
      <div class="users"> <a href="#"><h4>Freeman</h4></a></div>
      <div class="users"> <a href="#"><h4>Dr.House</h4></a></div>
      <div class="users"> <a href="#"><h4>Kubik_911</h4></a></div>
      <div class="users"> <a href="#"><h4>Stan</h4></a></div>
      <div class="users"> <a href="#"><h4>Don_hack</h4></a></div>
      <div class="users"> <a href="#"><h4>Homer_simpson</h4></a></div>
      <div class="users"> <a href="#"><h4>Destructor_66</h4></a></div>
      <div class="users"> <a href="#"><h4>std_vector</h4></a></div>